.pagination-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.pagination-container button {
  height: 4rem;
  width: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;

  border: 1px solid #aaa;
  background: #eee;
  color: #393E41;
}

.pagination-container .arrow-left {
  border-start-end-radius: 6px;
}