.issue-item-link {
  text-decoration: none;
}

.issue-item {
  background: #F4F4F2;
  min-height: 6rem;
  width: 100%;
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

  padding: 1rem;
  margin-top: 0.6rem;
  color: #393E41; 
}

.issue-item .issue-title {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.issue-item .issue-title svg {
  margin-right: 0.5rem;
}

.issue-item .issue-label-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.issue-item .issue-label-container .issue-label {
  padding: 0.5rem 0.7rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 2em;
  color: black;
}

.issue-item .issue-label-container .issue-label + .issue-label {
  margin-left: 1rem;
}
