.repo-item {
  background: #F4F4F2;
  height: 9rem;
  width: 100%;
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;

  padding: 1rem;
  margin-top: 1.6rem;
}

.repo-item img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-right: 1.6rem;
}

.repo-item .repo-item-content {
  flex: 1;
}

.repo-item .repo-item-content h1{
  font-size: 2.4rem;
  color: #44BBA4;
}

.repo-item .repo-item-content p{
  font-size: 1.8rem;
}

.repo-item .repo-item-content p span {
  font-size: 1.4rem;
  margin-left: 1rem;
  display: inline-flex;
  align-items: center;
}

.repo-item .repo-item-content p span svg {
  margin-right: 0.5rem;
}

.repo-item .repo-item-issues {
  display: flex;
  align-items: center;
}

.repo-item .repo-item-issues svg:first-child {
  margin-right: 0.5rem;
}

.repo-item .repo-item-issues p {
  margin-right: 1.5rem;
}